// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre {
  border-bottom: solid 0px #CCC;
  padding: 5px 0;
}

.genre p {
  margin: 4px 0;
}